{{!--- 
    TOC
---}}

<h1 style="color: blue">  Demonstarting GET method</h1>

<h2>Form filed for seach</h2>

{{#if username}}
<h3> Hello user {{ username }}</h3>
{{else}}
<h3> Hello anonymous user</h3>
{{/if}}

{{#unless q }}
<p>You did not query anything</p>
{{else}}
<p> Your query was {{ q }}</p>
{{/unless}}


{{#if lang }}
<p> Your language choice was {{ lang }}</p>
{{else}}
<p>You did not choose a language</p>
{{/if}}

{{!--- 
  forms are special becase when yo use GET all the input names will become query parameter that you can read in Express
---}} 

{{!---
This form takes me to 
http://localhost:3000/search?city=Napoli&start-date=1974-01-23&end-date=2222-01-23
---}}
<form action="/search" method="GET">
  <label>
    City
    <input type="text" name="city">
  </label>
  
  <label>
  	Start-Date
  	<input type="date" name="start-date">
  </label>
  
  <label>
  	End-Date
  	<input type="date" name="end-date">
  </label>
  
  <button type="submit">SEARCH</button>
</form>

